
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumb Section Begin -->
<section class="dichvu">
    <img src="https://thekaffeine.com.vn/upload/images/hoa%20toc(3).jpg" />
</section>
<div class="container">
    <h2 class="headTitleSP">Chính sách vận chuyển &amp; đổi trả 2021</h2>
    <div class="newsDetail">
        <p>
            Nhằm tạo điều kiện thuận lợi hơn cho các khách hàng ở xa vẫn có thể mua hàng đồng thời tiết kiệm chi phí giao hàng;&nbsp;
            Nam An Market đã điều chỉnh chính sách&nbsp;
            giao hàng với nhiều ưu đãi cho khách hàng. Chính sách này có hiệu lực kể từ ngày 06/10/2021&nbsp;
            cho đến khi có văn bản bổ sung hoặc thay thế, cụ thể&nbsp;như sau:&nbsp;
        </p>
    </div>
    <p><strong>I. CHÍNH SÁCH VẬN CHUYỂN</strong></p>
    <p><strong>1. Khách hàng mua hàng đề nghị giao hàng nội thành Tp HCM</strong></p>
    <p>Áp dụng cho các đơn hàng theo phạm vi và biểu phí quy định</p>
    <p>* THỜI GIAN GIAO HÀNG: GIAO HÀNG TRONG VÒNG 2H VỚI CÁC ĐƠN HÀNG PHÁT SINH TRƯỚC 20:00, SAU 20:00 SẼ ĐƯỢC GIAO HÀNG VÀO HÔM SAU.</p>
    <p><strong>2. Khách hàng mua hàng đề nghị giao hàng ngoại tỉnh</strong></p>
    <p>
        Áp dụng cho các đơn hàng theo phạm vi và điều kiện quy định.&nbsp;
        Với mong muốn đảm bảo chất lượng của thực phẩm, Nam An Market không nhận giao hàng tươi
        và đông lạnh cho các địa chỉ nhận hàng ngoài khu vực TP HCM. (Hiện do ảnh hưởng của dịch
        bệnh nên Nam An Market chỉ có thể giao hàng tại các quận trung tâm TP.HCM (trừ Hóc Môn, Củ Chi, Bình Chánh, Nhà Bè
    </p>
    <p><strong>3. Biểu phí và phạm vi giao hàng&nbsp;</strong></p>
    <h4><a href="#collapseOne">a. Dành cho các đơn hàng giá trị từ 300.000 VND trở lên</a></h4>
    <table border="1" class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>
                    <p><strong>Quận giao hàng</strong></p>
                </td>

                <td>
                    <p><strong>Phí giao hàng</strong></p>
                </td>
                <td>
                    <p><strong>Miễn phí từ (VNĐ)</strong></p>
                </td>
            </tr>
            <tr>
                <td><p>Nội thành TPHCM</p></td>
                <td><p>20.000</p></td>
                <td><p>500.000</p></td>
            </tr>
            <tr>
                <td><p>TP Thủ Đức</p></td>
                <td><p>35.000</p></td>
                <td>300.000</td>
            </tr>
            <tr>
                <td><p>Ngoại thành TPHCM</p><p>Củ Chi, Bình Chánh, Hóc Môn</p></td>
                <td><p>50.000</p></td>
                <td>500.000</td>
            </tr>
    </table>
</div>